.App {
  text-align: center;
 font-family: Arial, Helvetica, sans-serif;
}
.navbar11>img{
  margin-right:140px ;
}
.navbar1{
/* border: 1px solid red; */
/* height: 60px; */
background-color: black;
display: flex;
align-items: center;
justify-content: space-around;
position: sticky;
top: 0;
z-index: 15;
}
.navbar1>img{
  display: block;
  margin: auto;
}
.navbar11{
  margin-left: 400px;
  z-index: 15;
}
.xyz:hover{
  color: red;
  font-weight: bold;
}
.footerdata>div{
 /* border: 1px solid red; */
 width: 25%;
 padding-left: 10px;
}

.footerdata>div:nth-child(2){
  border-left: 1px solid grey;
  border-right: 1px solid grey ;
 }

 .footerdata>div:nth-child(3){
 
  border-right: 1px solid grey ;
 }
.footerdata>div>h4{
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
.footerdata>div>h4~p{
  color: grey;
  margin-top: -5px;
  font-size: 14px;
  margin-bottom: 10px;
}

.sidebar>h4{
  /* border: 1px solid red; */
  font-size: 24px;
}

.sidebar>h4+div{
  background-color: yellow;
  height: 6px;
  width: 60%;
  margin: auto;
  margin-top: -35px;
  margin-bottom: 5px;
}

.login>h4{
 text-align: start;
 padding-left: 10px;
 font-size: 20px;
}
.login>h4+P{
  text-align: start;
  padding-left: 10px;
  color: grey;
  margin-top: -20px;
}
.login>h4+p+div>label{
  /* border: 1px solid red; */
  font-weight: bold;
  margin: auto;
  margin-left: -240px;
  
}
.required:after {
  content:" *";
  color: red;

}
.login>h4+p+div+input{
  margin-top: 10px;
  width: 60%;
  margin-left: -2px;
  padding: 8px;
}

.login>h4+p+div+input+button{
  padding: 8px 15px;
  margin-left: 10px;
  font-weight: bold;
  color: white;
  background-color: rgb(250,215,94);
  border: 0px;
  font-size: 16px;
  border-radius: 5px;
}

.login>h4+p+div+input+button:hover{
 color: rgb(250,215,94) ;
 border: 2px solid rgb(250,215,94);
 background-color: white;
}


.login>h4+p+div+input+button+p{
  font-weight: bold;
  color: rgb(82,146,20);
}

.buttondata>button{
  padding: 5px 10px;
  color: white;
  background-color: rgb(250,215,94) ;
  border: 0px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 200px;
  margin-left: 10px;
  margin-top: 10px;
}

.buttondata>button:hover{
  color: rgb(250,215,94) ;
  border: 1px solid rgb(250,215,94);
  background-color: white;
  
}
.slider{
  /* position: relative; */
  /* height: 440px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  /* border: 1px solid red; */
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  /*  */
}

.slim{
  width: 550px;
  height: 350px;
  border-radius: 10px;
  margin-top: 20px;
}
.slda{
  /* border: 1px solid red; */
  width: 75%;
  margin: auto;
  text-align: start;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: -80px;
  position: relative;
  z-index: 10;
  border-radius: 10px;
  /* opacity: 0.05; */
}

.rightarrow{
  position: absolute;
  top: 40%;
  right: 550px;
  font-size: 3rem;
  color: black;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}

.leftarrow{
  position: absolute;
  top: 40%;
  left: 300px;
  font-size: 3rem;
  color: black;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}
.slide{
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.newsbtn{
  border: 0px;
  color: white;
  background-color: black;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 400px;
}
.newsbtn:hover{
  color: black;
  background-color: white;
  border: 2px solid black;
}

.sidebtn{
  border: 0px;
  color: white;
  background-color: black;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 240px;
}

.sidebtn:hover{
  color: black;
  background-color: white;
  border: 2px solid black;
}

.newsdata{
  /* position: absolute; */
  /* z-index: 6; */
  margin-top: -20px;
  /* border: 1px solid red; */
  background-color: white;
  border-radius: 10px;
}

.navbarS{
  background-color: #060606;
  height: 48px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.menu-bars{
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  /* border: 1px solid red; */
}
.nav-menu{
  width: 250px;
  background-color: #060606;
  /* border: 1px solid green; */
  margin-bottom: -332px;
  /* margin-left: -1270px; */
  display: flex;
  justify-content: center;
   position: fixed; 
  left:-100%; 
  top: 0px;
  transition: 850ms;
  /* height: 100vh; */
  border-bottom-right-radius: 10px;
}
.nav-menu.active{
  left: 0;
  transition: 350ms;

}
.nav-text{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px ;
  list-style: none;
  height: 60px;
}

.nav-text a{
  text-decoration: none;
  color: #f5f5f5;
  font-size: 20px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  border-radius: 4px;
}

.nav-text a:hover{
  background-color: #1a83ff;
}
.nav-menu-items{
  width: 100%;
}

.navbar-toggle{
background-color: #060b26;
width: 100%;
height: 80px;
display: flex;
justify-content: start;
align-items: center;
}
span{
  margin-left: 16px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:"Lato" ,sans-serif;
}


/* Country Page css */

.country{
  width: 45%;
  /* height: 400px; */
  /* border: 1px solid red; */
  margin-left: 290px;
  margin-bottom: 100px;
  /* border: 1px solid red; */
}
.country> h1+div{
  height: 5px;
  width: 50%;
  background-color: yellow;
  /* border: 2px solid green; */
  margin: auto;
  margin-top: -25px;
  margin-bottom: 20px
}
.country>h1+div+div{
  /* border: 2px solid green; */
  border-radius: 10px;
}
.country>h1+div+div div>p{
  /* border: 2px solid red; */
  margin-bottom: 10px;
}


